
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Template Example</title>
</head>
<body>
    <h1>Data from MongoDB:</h1>
    
    <ul>
        {% comment %} {% for item in result %}
        {% if(item.has_voted)  %}
            <li>you have voted   see result</li> 
        {% else  %}
                        <li>{{ item.name }} -<button><a hre='{{url_for('a')}}'>voter</a> </button> </li> 
                                               {% endif %}
        {% endfor %} {% endcomment %}
    </ul>
</body>
</html>


