<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chart Example</title>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div id="chart"></div>

<script>
$(function () {
  // Function to make AJAX request to Flask route and update the chart
  function updateChartWithData() {
    $.ajax({
      url: "/count",
      type: "GET",
      success: function(response) {
        console.log("Received data:", response);
        var chartData = response.chartData;
        var categories = response.categories;

        console.log("ChartData:", chartData);
        console.log("Categories:", categories);

        chart.updateSeries(chartData.map(data => data.data));
        chart.updateOptions({
          xaxis: {
            categories: categories
          },
          colors: undefined
        }, false);
        chart.render();
      },
      error: function(error) {
        console.error("Error fetching data:", error);
      }
    });
  }

  // Call the updateChartWithData function initially to load chart data
  updateChartWithData();

  // Chart configuration
  var chart = new ApexCharts(document.querySelector("#chart"), {
    series: [],
    chart: {
      type: "bar",
      height: 345,
      foreColor: "#adb0bb",
      fontFamily: 'inherit',
      background: '#0000', // Setting background color to black
    },
    xaxis: {
      categories: [],
      labels: {
        style: { cssClass: "grey--text lighten-2--text fill-color" }
      }
    },
    yaxis: {
      show: true,
      min: 0,
      max: 400,
      tickAmount: 4,
      labels: {
        style: { cssClass: "grey--text lighten-2--text fill-color" }
      }
    },
    plotOptions: {
      bar: {
        horizontal: false,
        columnWidth: "35%",
        borderRadius: [6],
        borderRadiusApplication: 'end',
        borderRadiusWhenStacked: 'all'
      }
    },
    markers: { size: 0 },
    dataLabels: { enabled: false },
    legend: { show: false },
    grid: {
      borderColor: "rgba(0,0,0,0.1)",
      strokeDashArray: 3,
      xaxis: { lines: { show: false } }
    },
    stroke: {
      show: true,
      width: 3,
      lineCap: "butt",
      colors: ["transparent"]
    },
    tooltip: { theme: "light" },
    responsive: [{
      breakpoint: 600,
      options: {
        plotOptions: { bar: { borderRadius: 3 } }
      }
    }]
  });

  // Render the chart
  chart.render();
});
</script>

</body>
</html>
