<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Election</title>
  <link rel="shortcut icon" type="image/png" href="static/images/logos/favicon.png" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.min.css') }}">
</head>

<body>


  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
   
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="./index.html" class="text-nowrap logo-img">
            <img src="/static/images/logos/dark-logo.svg" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{{url_for('dashboard')}}" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">UI COMPONENTS</span>
            </li>
            <li class="sidebar-item">
            
         
             
            <li class="sidebar-item">
              <a class="sidebar-link" href="{{url_for('login')}}" aria-expanded="false">
                <span>
                  <i class="ti ti-login"></i>
                </span>
                <span class="hide-menu">Login</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{{url_for('register')}}" aria-expanded="false">
                <span>
                  <i class="ti ti-user-plus"></i>
                </span>
                <span class="hide-menu">Register</span>
              </a>
            </li>
            
          </ul>
          <div class="unlimited-access hide-menu bg-light-primary position-relative mb-7 mt-5 rounded">
            <div class="d-flex">
              <div class="unlimited-access-title me-3">
               <!--<span class="hide-menu">Icons</span> --> 
              </div>
              <div class="unlimited-access-img">
                <img src="static/images/backgrounds/rocket.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                <i class="ti ti-bell-ringing"></i>
                <div class="notification bg-primary rounded-circle"></div>
              </a>
            </li>
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              
              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="static/images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body">
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                     
                    </a>
                   
                    
                    <a href="{{url_for('logout')}}" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->
      <div class="container-fluid">
        <!--  Row 1 -->
        <div class="row">
          <div class="col-lg-8 d-flex align-items-strech">
            <div class="card w-100">
              <div class="card-body">
                <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                  <div class="mb-3 mb-sm-0">
                    <h5 class="card-title fw-semibold">Statistique</h5>
                  </div>
                
                </div>
                <div id="chart"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-12">
                <!-- Yearly Breakup -->
                <div class="card overflow-hidden">
                  <div class="card-body p-8">
                    <h5 class="card-title mb-9 fw-semibold">candidate</h5>
                    <div class="row align-items-center">
                      <div class="col-8">
                        <h4 class="fw-semibold mb-3"></h4>
                        <div class="d-flex align-items-center mb-3">
                          <div id="breakup"></div> 
                          
                        </div>
                      
                      </div>
                     
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <!-- Monthly Earnings -->
                <div class="card">
                  <div class="card-body">
                    <div class="row alig n-items-start">
                      <div class="col-8">
                        <h5 class="card-title mb-9 fw-semibold"> voter </h5>
                        <h4 class="fw-semibold mb-3"></h4>
                        <div class="d-flex align-items-center pb-1">
                       
                         
                      </div>
                      <div class="col-4">
                        <div class="d-flex justify-content-end">
                          <div></di
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="earning"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
        
               
            
             
             
                  <table class="table text-nowrap">
                    <thead class="text-dark">
                      <tr>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Id</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Name</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Age</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">voters</h6>
                        </th>
                         <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">vote</h6>
                        </th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      {% for m in M %}
                        
                      <tr>
                        <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{ loop.index }}</h6></td>
                        <td class="border-bottom-0">
                            <h6 class="fw-semibold mb-1">{{m._id}}</h6>
                          <!--  <span class="fw-normal">Web Designer</span>     -->                          
                        </td>
                        <td class="border-bottom-0">
                          <p class="mb-0 fw-normal">{{m.age}}</p>
                        </td>
                      
                        <td class="border-bottom-0">
                          <div class="d-flex align-items-center gap-2">
                            <span class="badge bg-primary rounded-3 fw-semibold">{{ m.count }}</span>
                          </div>
                        </td>
                      <td class="border-bottom-0">
    <p class="mb-0 fw-normal">
     <a href="{{ url_for('voting', candidate=m._id, voter=session['user']) }}">Vote</a>
    </p>
</td>
                      </tr> 
                     
                      {% endfor %}                      
                    </tbody>
                  </table>
               
        </div>
       
        <div class="py-6 px-6 text-center">
          <p class="mb-0 fs-4">Design and Developed by <a href="https://adminmart.com/" target="_blank" class="pe-1 text-primary text-decoration-underline">AdminMart.com</a> Distributed by <a href="https://themewagon.com">ThemeWagon</a></p>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='libs/jquery/dist/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='libs/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/sidebarmenu.js')}}"></script>
  <script src="{{ url_for('static', filename='js/app.min.js')}}"></script>
 <script src="{{ url_for('static', filename='libs/apexcharts/dist/apexcharts.min.js')}}"></script>
  <script src="{{ url_for('static', filename='/libs/simplebar/dist/simplebar.js')}}"></script>
  <script src="{{ url_for('static', filename='/js/dashboard.js')}}"></script>
  <script>
    
        // Get the session timeout value in seconds from Flask
        var sessionTimeoutSeconds = {{ session_timeout_seconds }};
        
        // Convert session timeout to milliseconds
        var sessionTimeoutMilliseconds = sessionTimeoutSeconds * 1000;

        // Function to reload the page after session timeout
        function reloadPageAfterSessionTimeout() {
            setTimeout(function() {
                location.reload(true); // Reload the page
            }, sessionTimeoutMilliseconds);
        }

        // Call the function to start the countdown
        reloadPageAfterSessionTimeout();
  
  </script>
   
</body>

</html>